@model List<VillaNumber>

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Villa Number List(s)</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-action="AddVillaNumber" asp-controller="VillaNumber" class="btn btn-colour-1 btn-sm">
                    <span><ion-icon name="add-circle-sharp" class="me-1 align-middle ionic-icons"></ion-icon></span>
                    CREATE VILLA NUMBER
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Villa Name</th>
                    <th class="text-center">Villa Number</th>
                    <th class="text-center">Special Details</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td class="text-center">
                            <div class="tooltip-wrapper">
                                <span class="truncate">@obj.Villa!.Name</span>
                                <div class="tooltip-content">@obj.Villa.Name</div>
                            </div>
                        </td>
                        <td class="text-center">@obj.Villa_Number</td>
                        <td class="text-center">@obj.SpecialDetails</td>
                        <td class="text-center">
                            <a asp-action="EditVillaNumber" asp-controller="VillaNumber" asp-route-villaNumberId="@obj.Villa_Number" class="btn btn-sm">
                                <ion-icon name="pencil-sharp" class="me-1 align-middle ionic-icons">EDIT</ion-icon>
                            </a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="@("#DeleteModal-" + obj.Villa_Number)" class="btn btn-sm">
                                <span><ion-icon name="trash-bin-sharp" class="me-1 align-middle ionic-icons"></ion-icon></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Markup -->
@foreach (var obj in Model)
{
    <div class="modal fade" id="DeleteModal-@obj.Villa_Number" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">   
            <div class="modal-content rounded-3 shadow-lg">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title fw-bold text-center" id="DeleteModalLabel">Delete Villa Number</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <ion-icon name="warning-sharp" style="font-size: 50px; color: #ff6b6b;"></ion-icon>
                        <p class="mt-3 fs-5">Are you sure you want to delete Villa Number <strong>@obj.Villa_Number</strong>?</p>
                        <p class="text-muted">This action cannot be undone.</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal"><span><i class="material-icons align-middle me-1">cancel</i></span>CANCEL</button>
                    <a asp-action="DeleteVillaNumber" asp-route-villaNumberId="@obj.Villa_Number" class="btn btn-outline-danger">
                        <ion-icon name="trash-bin-sharp" class="me-1 align-middle ionic-icons"></ion-icon> DELETE
                    </a>
                </div>
            </div>
        </div>
    </div>
}



<style>
    .btn-colour-1 {
        color: #fff;
        background-color: #004E64;
        border-color: #004E64;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius: 0;
    }

    .img-icon-edit {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    .img-icon-delete {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }
</style>
